*{
    box-sizing: border-box;
}
body{
    background-image: url(https://4.imimg.com/data4/CW/WO/MY-7887487/indoor-basketball-court-500x500.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.Team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30rem;
  }
.Team .identity {
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .Team img {
    max-width: 200px;
  }
  .versus {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .versus h1 {
    font-family: againtsregular, oswald, sans-serif;
    font-size: 500%;
    color: #fc0;
    text-shadow: 2px 2px 0 black;
  }
  .Arena{
    text-align: center;
    font-family: againtsregular, oswald, sans-serif;
    font-size: 250%;
    color: #fc0;
    text-shadow: 2px 2px 0 black;
  }