*{
    box-sizing: border-box;
}
body{
    background-image: url(https://4.imimg.com/data4/CW/WO/MY-7887487/indoor-basketball-court-500x500.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}